.top-nav {
  border-radius: 10px;
  margin: 1px;
  padding: 20px;
  height: 30px;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  gap: 5px 10px;
}

/* block__element */
.top-nav__button {
  background-color: rgb(218, 226, 231);
  border-radius: 10px;
  padding: 9px;
  margin: 3px;
  color: black;
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  align-items: stretch;
  gap: 2px;
}
